.button,
a.button {
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0;
  text-align: left;
  text-decoration: none;
  background-color: var(--color-theme);
  color: var(--background-default);

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-theme-active);
  }
}

.button--brand-1 {
  background-color: var(--color-brand-1);

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-brand-1-active);
  }
}

.button--brand-2 {
  background-color: var(--color-brand-2);
  border-color: var(--color-brand-2);

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-brand-2-active);
  }
}

.button--brand-3 {
  background-color: var(--color-brand-3);
  border-color: var(--color-brand-3);

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-brand-3-active);
  }
}

.button--brand-4 {
  background-color: var(--color-brand-4);
  border-color: var(--color-brand-4);

  &:focus,
  &:hover,
  &:active {
    background-color: var(--color-brand-4-active);
  }
}