.footer {
  flex-shrink: 0;
  background-color: var(--background-default);
  color: var(--color-text-default);
  width: 100%;
  overflow: visible;
}

.footer .container {
  @include desktop {
    padding-left: 140px;
  }
}

.footer .button {
  margin-top: 9px;
  padding: 10px 20px;
  border-radius: 20px;
  color: var(--background-default);
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
  width: fit-content;

  @include tablet {
    line-height: 22px;
    font-size: 12px;
    padding: 6px 25px;
    margin-top: 4px;
  }

  @include desktop {
    margin-top: 12px;
    font-size: 14px;
    padding: 9px 25px;
  }
}



.footer__body {
  z-index: 1;
  padding-top: 65px;
  padding-bottom: 48px;
  background-image: linear-gradient(to left,
      var(--color-brand-1) 0%,
      var(--color-brand-1) 28px,
      var(--background-default) 28px,
      var(--background-default) 100%);
  border-radius: 15px 15px 0 0;
  box-shadow: 0px 4px 28px 3px var(--box-shadow-default);
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 40px;
  color: var(--color-text);

  @include tablet {
    padding: 62px 52px;
    border-radius: 30px 30px 0 0;
    background-image: linear-gradient(to left,
        var(--color-brand-1) 0%,
        var(--color-brand-1) 38px,
        var(--background-default) 38px,
        var(--background-default) 100%);
    display: grid;
    grid-template-columns: 28% repeat(2, 36%);
    grid-template-rows: repeat(3, 1fr);
    gap: 0;
  }

  @include desktop {
    padding: 67px 120px 67px 67px;
    display: grid;
    grid-template-columns: 26% 30% 23% 21%;
    grid-template-rows: repeat(3, auto);
    row-gap: 10px;
    border-radius: 50px 50px 0 0;
    background-image: linear-gradient(to left,
        var(--color-brand-1) 0%,
        var(--color-brand-1) 60px,
        var(--background-default) 60px,
        var(--background-default) 100%);
  }
}


.footer__icon {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 2;
  top: -27px;
  left: 0;
  width: 100%;
  transition: transform 1.2s;
  max-width: 100% !important;

  @include tablet {
    justify-content: flex-start;
    left: -33px;
    top: -38px;
    width: auto !important;
    height: auto !important;
  }

  @include desktop {
    top: -44px;
    left: -44px;
  }
}

.footer__icon>img {
  width: 55px;
  height: 60px;
}

.footer__icon>img {
  @include tablet {
    width: 68px;
    height: 75px;
  }

  @include desktop {
    width: 103px;
    height: 111px;
  }
}

.footer__icon:hover {
  transform: rotate(90deg);
}

.footer__body>div {
  text-align: center;
  max-width: 200px;
  margin: 0 auto;

  @include tablet {
    max-width: 100%;
    width: 100%;
    height: 100%;
    text-align: left;
  }
}

.footer__body address {
  font-size: 15px;
  line-height: 25px;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--color-theme-black);
  font-weight: 300;

  @include tablet {
    font-size: 12px;
    line-height: 22px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 26px;
  }
}

.footer__body p {
  font-weight: 300;
  max-width: 200px;
  margin: 0;

  @include tablet {
    font-size: 12px;
    line-height: 22px;
    max-width: 90px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 26px;
    max-width: 100%;
  }
}

.footer__nav-wrap {
  display: none;
  grid-area: 2 / 1 / 4 / 2;
  font-weight: 500;

  @include tablet {
    display: block;
    font-size: 12px;
    line-height: 22px;
  }
}


.footer__vacancies {
  grid-area: 2 / 3 / 3 / 4;

  @include desktop {
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}


.footer__contacts {
  grid-area: 1 / 3 / 2 / 4;

  @include desktop {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }
}


.footer__address {
  grid-area: 1 / 2 / 2 / 3;
}

.footer__logo {
  grid-area: 1 / 1 / 2 / 2;
}

.footer__schedule {
  grid-area: 2 / 2 / 3 / 3;

  @include desktop {
    grid-area: 1 / 3 / 2 / 5;
  }
}

.footer__icons {
  margin-top: 10px;
  grid-area: 3 / 3 / 4 / 4;
  display: flex;
  align-items: end;

  @include tablet {
    padding-left: 74px;
    margin: 0;
    padding-bottom: 0;
  }

  @include desktop {
    grid-area: 3 / 4 / 4 / 5;
  }
}

.footer__icons>img {
  @include tablet {
    width: 90px;
    height: 20px;
  }

  @include desktop {
    width: 133px;
    height: 29px;
  }
}

.footer__legal {
  display: none;

  @include desktop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    grid-area: 3 / 2 / 4 / 4;
  }
}

.footer__legal>a {
  text-decoration: none;
  color: rgba(177, 179, 180, 1);
  font-size: 13px;
  font-weight: 400;
  line-height: 26px;

  &:focus,
  &:hover,
  &:active {
    color: var(--color-theme-black-inverse);
    text-decoration: underline;
  }
}


.footer__logo {
  display: flex;
  justify-content: center;
  width: 140px;
  height: 31px;

  @include tablet {
    justify-content: start;
    align-items: start;
    width: 118px;
    height: 26px;
  }

  @include desktop {
    width: 179px;
    height: 40px;
  }
}

.footer__social-wrap {
  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    column-gap: 18px;
    padding-bottom: 8px;
  }

  @include desktop {
    margin-left: auto;
    justify-content: flex-end;
  }
}

.footer__title {
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  margin: 0;

  @include tablet {
    font-size: 12px;
    line-height: 22px;
  }

  @include desktop {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 5px;
  }
}

.footer__title--primary {
  color: var(--color-brand-1);
}

.footer__title--secondary {
  color: var(--color-brand-2);
}

.footer__nav {
  display: flex;
  flex-direction: column;
  row-gap: 15px;


  @include desktop {
    row-gap: 16px;
  }
}

.footer__nav>a {
  text-decoration: none;
  text-align: left;
  font-weight: 500;
  color: var(--color-gray-dark);

  @include desktop {
    font-size: 16px;
    line-height: 26px;
  }

  &:focus,
  &:hover,
  &:active {
    color: var(--color-theme-black-inverse);
    text-decoration: underline;
  }
}

.footer__social {
  grid-area: 3 / 2 / 4 / 3;

  @include tablet {
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  @include desktop {
    grid-area: 2 / 4 / 3 / 5;
    justify-content: end;
  }
}

.footer__social {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 16px;
  margin-top: 18px;

  @include tablet {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    column-gap: 11px;
  }
}

.footer__social>a {
  width: 38px;
  height: 38px;
  color: var(--color-brand-2);

  @include tablet {
    width: 26px;
    height: 26px;
  }

  @include desktop {
    width: 29px;
    height: 29px;
  }
}

.footer__social>a:focus,
.footer__social>a:hover,
.footer__social>a:active {
  color: var(--color-brand-2-active);
}