.page-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 0;

  &:before {
    display: none;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1060px;
    pointer-events: none;
    height: 1500px;

    @include tablet {
      height: 676px;
    }

    @include desktop {
      height: 1060px;
    }

    .brand-1-theme & {
      display: block;
      background: linear-gradient(180deg, rgba(151, 191, 13, 0.06) 10.9%, rgba(151, 191, 13, 0.04) 61.62%, rgba(151, 191, 13, 0) 100%);
    }

    .brand-2-theme & {
      display: block;
      background: linear-gradient(180deg, rgba(113, 182, 205, 0.08) 10.9%, rgba(113, 182, 205, 0.06) 61.62%, rgba(113, 182, 205, 0) 100%);
    }

    .brand-3-theme & {
      display: block;
      background: linear-gradient(180deg, rgba(247, 162, 18, 0.06) 10.9%, rgba(247, 162, 18, 0.04) 61.62%, rgba(247, 162, 18, 0) 100%);
    }

    .brand-4-theme & {
      display: block;
      background: linear-gradient(180deg, rgba(247, 115, 108, 0.06) 10.9%, rgba(247, 115, 108, 0.04) 61.62%, rgba(247, 115, 108, 0) 100%);
    }
  }
}

.page-body {
  padding-top: 140px;
  padding-bottom: 105px;

  &:has(.page-aside) {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0 auto;
    justify-content: center;
    width: 100%;
    padding-inline: 30px;

    @include tablet {
      padding-top: 0;
      grid-template-columns: 1fr 80px 100px 80px auto 80px 1fr;
      padding-inline: 0;
    }

    @include desktop {
      grid-template-columns: 1fr 320px 80px 860px 180px 1fr;
    }
  }
}

.page-aside {
  grid-column: 4/4;
  grid-row-start: 1;

  @include tablet {
    grid-column: 1 / 5;
  }

  @include desktop {
    grid-column: 1 / 4;
  }
}

.page-content {
  grid-column: 4/4;
  grid-row-start: 2;

  @include tablet {
    grid-column: 4/7;
    grid-row-start: 1;
  }

  @include desktop {
    grid-column: 3 / 5;
  }
}

.page-body--inverse {

  &:has(.page-aside) {
    @include tablet {
      grid-template-columns: auto auto 80px minmax(180px, 1fr);
    }

    @include desktop {
      grid-template-columns: 1fr 860px 80px minmax(320px, 1fr);
    }

    .page-aside {
      @include tablet {
        grid-column: 3/5
      }
    }

    .page-content {
      @include tablet {
        grid-column: 2/4;
      }
    }
  }

  .page-nav {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 0;
    border-left: 20px solid var(--color-theme);
  }

  .page-nav__body {
    margin-left: 0;
    margin-right: auto;
  }
}

.page-article {
  padding-right: 26px;
  padding-left: 26px;

  @include tablet {
    max-width: 543px;
    padding-left: 130px;
    padding-right: 0;
  }

  @include desktop {
    max-width: 880px;
    padding-left: 160px;
  }
}

.page-article__slider {
  max-width: 960px;
}

.page-article__pagination {
  max-width: 220px;
  margin-left: auto;
}

.page-body--article .article {
  line-height: 26px;
}

.page-body--article .article h1 {
  font-size: 26px;
  font-weight: 400;
  line-height: 30px;
  color: var(--color-text);
  letter-spacing: 0;
  margin-bottom: 24px;

  @include desktop {
    font-size: 34px;
    margin-bottom: 38px;
  }
}

.page-body--article .article h3 {
  font-size: 15px;
  margin-bottom: 0;
  padding: 12px 0 11px;
  line-height: 1.4;

  @include tablet {
    font-size: 20px;
  }
}

.page-body--article .page-nav__list {
  max-height: 1000px;
  opacity: 1;
  transform: translateY(0);
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.page-body--article .page-nav__list:after {
  display: none;
}

.page-body--article .page-nav__title {
  pointer-events: none;
}

.page-body--article .page-nav__title-icon {
  display: none;
}

.page-body--article:has(.page-aside) {
  display: flex;
  flex-direction: column-reverse;
  gap: 120px;

  @include desktop {
    display: grid;
    grid-template-columns: 1fr 160px 770px 80px 360px 80px 1fr;
    gap: 0;
  }

  .page-header {
    background-color: transparent;
    padding: 30px 0 40px;

    @include tablet {
      padding: 150px 80px 50px;
      margin-bottom: 0;
    }

    @include desktop {
      padding-top: 310px;
      margin-bottom: 210px;
      max-width: 720px;
    }
  }

  .page-header__image {
    left: 0;
    position: static;
    max-width: 675px;
    width: 100%;
    height: 196px;
    margin: 0;

    @include tablet {
      height: 260px;
      margin: 0 auto;
    }

    @include desktop {
      position: absolute;
      max-width: 100%;
      height: 320px;
    }
  }

  .page-content {
    @include desktop {
      grid-column: 3 / 5;
    }
  }

  .page-article {
    padding: 0 28px;

    @include tablet {
      margin: 0 auto;
      max-width: 600px;
    }

    @include desktop {
      padding-left: 0;
      max-width: 100%;
    }
  }

  .page-article__news {
    white-space: nowrap;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: auto;
    gap: 28px;

    @include tablet {
      white-space: normal;
      flex-wrap: wrap;
    }

    >* {
      flex-shrink: 0;
      width: 250px;
      white-space: normal;

      @include desktop {
        width: 100%;
      }
    }
  }

  .page-aside {
    padding-inline: 58px 0;
    margin: 0 -28px;

    @include tablet {
      padding: 0;
      margin: 0;
    }

    @include desktop {
      padding-inline: 0;
      grid-column: 5 / 6;
    }
  }

  .page-nav__body {
    @include tablet {
      max-width: 550px;
      margin: 0 auto;
    }
  }

  .page-nav h3 {
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 28px;
    margin-top: 6px;
  }
}