.section-quote {
  width: 100%;
  position: relative;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 45px;
  margin-bottom: 79px;

  @media (min-width: 355px) {
    height: 520px;
  }

  @media (min-width: 373px) {
    height: 500px;
  }

  @media (min-width: 429px) {
    height: 470px;
  }

  @media (min-width: 487px) {
    height: 450px;
  }

  @media (min-width: 586px) {
    height: 430px;
  }

  @include tablet {
    height: fit-content;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 105px;
  }

  @media (min-width: 1110px) {
    height: 340px;
  }

  @include desktop {
    margin-top: 110px;
    margin-bottom: 130px;
  }
}

.quote {
  background-color: var(--color-brand-2-rgb);
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  margin-left: calc(#{$container-padding} + 30px);
  margin-right: 0px;
  border-radius: 20px 0px 0px 20px;

  @include tablet {
    margin-left: 0px;
    margin-right: 90px;
    flex-direction: row;
    border-radius: 0px 20px 20px 0px;
  }

  @include desktop {
    margin-right: 165px;
  }

  @media (min-width: 1525px) {
    margin-right: calc(145px + 12%);
  }
}

.quote span {
  background-color: var(--color-brand-2);
  display: block;
  width: 20px;
  border-radius: 20px 0px 0px 20px;

  @include tablet {
    border-radius: 0px 20px 20px 0px;
  }
}

.quote__text {
  margin-left: 0px;
  margin-right: auto;
  width: fit-content;
  padding: 143px 30px 32px 35px;
  height: fit-content;

  @include tablet {
    width: 305px;
    padding: 40px 55px 20px 0px;
    margin-left: auto;
    margin-right: 0px;
  }

  @include desktop {
    width: 500px;
    padding: 50px 55px 39px 0px;
  }
}

.quote__text blockquote {
  margin: 0px;
}

.quote__text blockquote p {
  margin: 0px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-theme-black-inverse);

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
  }
}

.quote__text p {
  color: var(--color-brand-2);
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  margin: 13px 0 10px;

  @include tablet {
    font-size: 16px;
    margin: 14px 0;
  }
}

.quote__img {
  position: absolute;
  top: 0;
  left: $container-padding;
  right: $container-padding;

  @include tablet {
    top: 29px;
    left: $container-padding-tablet;
    right: auto;
  }

  @media (min-width: 1110px) {
    top: 0;
  }

  @media (min-width: 1350px) {
    margin-left: 140px;
  }

  @include desktop {
    left: $container-padding-desktop;
    right: auto;
  }
}

.quote__img img {
  object-fit: cover;
  max-width: calc(100% + 20px);
  width: calc(100% + 20px);
  height: 224px;
  margin-left: 0px;
  transition: transform 0.3s ease;
  border-radius: 20px;
  object-position: 50% 20%;

  @include tablet {
    margin-left: 0;
    max-width: 100%;
    width: 260px;
    height: 208px;
  }

  @media (min-width: 1110px) {
    width: 420px;
    height: 340px;
  }

  @media (max-width: 834px) {
    animation: none;
  }
}