.section-quote {
  width: 100%;
  position: relative;
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 45px;
  margin-bottom: 79px;


  @media (min-width: 429px) {
    height: 470px;
  }

  @media (min-width: 586px) {
    height: 430px;
  }

  @include tablet {
    height: fit-content;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 105px;
  }

  @media (min-width: 1110px) {
    height: 340px;
  }

  @include desktop {
    margin-top: 110px;
    margin-bottom: 130px;
  }
}

.quote {
  display: flex;
  flex-direction: row-reverse;
  height: fit-content;
  margin-left: calc(#{$container-padding} + 30px);
  margin-right: 0px;

  @include tablet {
    align-items: center;
    margin-left: 0;
    margin-right: 110px;
    flex-direction: row;
    border-radius: 0 20px 20px 0;

    padding-left: 0;
    display: grid;
    grid-template-columns: minmax(0, 1fr) 80px 40px 260px 30px 260px 52px 0 minmax(0, 1fr);
  }

  @include laptop {
    grid-template-columns: minmax(0, 1fr) 80px 40px 320px 60px 230px 52px 0 minmax(0, 1fr);
    margin-right: 100px;
  }

  @include desktop {
    grid-template-columns: minmax(0, 1fr) 240px 420px 60px minmax(0, 1fr);
    margin-right: auto;
    margin-left: auto;
  }
}

.quote__text {
  margin-left: 0px;
  margin-right: auto;
  width: fit-content;
  padding: 143px 40px 32px 35px;
  height: fit-content;
  background-color: #F1F8FA;
  border-radius: 20px 0px 0px 20px;
  border-left: 20px solid var(--color-brand-2);

  @include tablet {
    position: relative;
    padding: 40px 40px 20px 0px;
    margin-left: 0;
    margin-right: 0;
    grid-column: 5 / 7;
    border-left: 0;
    border-right: 20px solid var(--color-brand-2);
    border-radius: 0 20px 20px 0;
  }

  @include laptop {
    grid-column: 6 / 8;
  }

  @include desktop {
    position: relative;
    width: 500px;
    padding: 45px 55px 30px 0;
    margin-left: 80px;
  }

  &:before {
    @include tablet {
      content: "";
      z-index: -1;
      width: 75vw;
      height: 100%;
      position: absolute;
      top: 0;
      left: -75vw;
      background-color: #F1F8FA;
    }

    @include desktop {
      left: -75vw;
      width: 75vw;
    }
  }
}

.quote__text blockquote {
  margin: 0;
}

.quote__text blockquote p {
  margin: 0;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: var(--color-theme-black-inverse);

  @include tablet {
    font-size: 16px;
    line-height: 24px;
  }

  @include desktop {
    font-size: 20px;
    line-height: 30px;
  }
}

.quote__text p {
  color: var(--color-brand-2);
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
  margin: 13px 0 10px;

  @include tablet {
    font-size: 16px;
    margin: 14px 0;
  }
}

.quote__img {
  position: absolute;
  top: 0;
  left: $container-padding;
  right: $container-padding;

  @include tablet {
    position: static;
    margin-left: 0;
    grid-column: 3 / 5;
  }

  @include desktop {
    margin-bottom: -40px;
    margin-top: -40px;
  }
}

.quote__img img {
  object-fit: cover;
  max-width: calc(100% + 20px);
  width: 100%;
  height: 224px;
  margin-left: 0px;
  transition: transform 0.3s ease;
  border-radius: 20px;
  object-position: 50% 20%;

  @include tablet {
    margin-left: 0;
    max-width: 100%;
    width: 260px;
    height: 208px;
  }

  @media (min-width: 1110px) {
    width: 420px;
    height: 340px;
  }

  @media (max-width: 1023px) {
    animation: none;
  }
}