.toggle-wrap {
  position: relative;
  box-shadow: 1px 1px 29px 0 var(--box-shadow-default);
  border-radius: 10px;
}

.toggle {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--background-default);
  color: var(--color-theme);
  border-radius: 10px;
  font-size: 13px;
  font-weight: 400;
  line-height: 44px;
  text-align: left;
  padding: 0;

  span {
    font-weight: 500;
    padding: 8px 0 5px 20px;

    @include tablet {
      padding: 8px 0 5px 34px;
    }
  }

  svg {
    width: 26px;
    height: 14px;
  }

  @include desktop {
    font-size: 16px;
  }
}

.toggle.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  .toggle__wrapper-svg {
    border-radius: 0 10px 0 0;
  }

  svg {
    transform: rotate(180deg);
  }

}

.toggle__wrapper-svg {
  display: flex;
  width: 60px;
  height: 60px;
  background-color: var(--color-theme);
  color: $color-white;
  border-radius: 0 10px 10px 0;
  justify-content: center;
  align-items: center;
}


.toggle__content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0;
  text-align: left;
  padding: 10px 10px 15px 20px;
  list-style-type: none;
  border-right: 60px solid var(--color-theme);
  border-radius: 0 0 10px 0;

  @include tablet {
    font-size: 14px;
    padding: 10px 50px 15px 20px;
  }

  @include desktop {
    padding: 13px 50px 0 33px;
    font-size: 16px;
    padding-bottom: 21px;
  }
}

.article ul {
  margin-bottom: 0;
}

a.toggle__item-wrapper {
  color: var(--color-black-inverse);

  @include desktop {
    text-decoration: none;
  }
}

.toggle__item-wrapper {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0;
  width: 100%;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    line-height: 44px;
  }

}