.page-speciality {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-top: 0px;
    padding-bottom: 104px;

    @include tablet {
        grid-template-columns: 0px 1fr 99px 180px !important;
        padding-bottom: 120px;
    }

    @include desktop {
        grid-template-columns: 1fr 865px 140px minmax(260px, 1fr) !important;
        padding-bottom: 146px;
    }
}

.page-speciality .page-content {
    grid-column: 1 / 5;
    grid-row-start: 2;

    @include tablet {
        grid-row-start: 1;
    }
}

.page-content-last {
    grid-column: 2 / 4;
    margin-top: -2px;
    margin-bottom: 10px;

    grid-row-start: 4;

    @include tablet {
        grid-row-start: 3;
    }
}

.page-speciality .page-header {
    padding: 0px;
    margin-top: 0px;
    margin-bottom: 45px;
    height: 313px;

    @include desktop {
        margin-top: 120px;
        margin-bottom: 50px;
        height: fit-content;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-bottom-left-radius: 50px;
    }
}

.page-article.specialists {
    padding-left: 30px;
    padding-right: 30px;

    @include tablet {
        padding-left: 80px;
        padding-right: 0px;
    }

    @include desktop {
        padding: 0px 80px 0px 79px;
    }

    h3 {
        color: var(--color-brand-3);
        margin-bottom: 6px;
        padding-left: 24px;
        padding-right: 24px;

        @include tablet {
            padding-left: 0px;
            padding-right: 0px;
        }

        @include desktop {
            margin-top: 45px;
        }
    }

    p {
        padding-left: 24px;
        padding-right: 24px;
        font-weight: 400;

        @include tablet {
            padding-left: 0px;
            padding-right: 0px;
            font-weight: 300;
        }
    }

    ul {
        margin-top: 24px;
        margin-bottom: 25px;
        margin-left: 21px;

        padding-left: 28px;
        padding-right: 28px;

        @include tablet {
            padding-left: 0px;
            padding-right: 0px;
            margin-left: 25px;
        }

        @include desktop {
            margin-top: 27px;
            margin-bottom: 26px;
            margin-left: 25px;
        }
    }

    img {
        width: 100%;
        height: 158px;
        border-radius: 20px;
        object-fit: cover;
        margin-top: 27px;
        margin-bottom: 0px;
        margin-right: 0px;

        @include tablet {
            display: none;
        }
    }
}

.page-article.specialists .article-files {
    margin-top: 30px;
    margin-bottom: 48px;
}

.page-article.specialists .article-links {
    margin-right: 40px;
    margin-top: 0px;
    gap: 0px;
    column-gap: 80px;
}

.page-article.specialists .article-link {
    font-size: 14px;
    padding-top: 24px;
}

.speciality__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: -3px;
    margin-bottom: 18px;

    padding-left: 24px;
    padding-right: 24px;
    margin-top: 24px;

    @include tablet {
        padding-left: 0px;
        padding-right: 0px;
        margin-top: 0px;
        margin-left: -8px;
        margin-bottom: 26px;
    }

    @include desktop {
        margin-bottom: 23px;
    }

    h1 {
        margin-bottom: 0px;
        margin-left: 14px;

        @include tablet {
            margin-left: 16px;
        }

        @include desktop {
            margin-left: 21px;
        }
    }

    svg {
        width: 45px;
        height: 45px;
        color: var(--color-brand-3);

        @include desktop {
            width: 83px;
            height: 83px;
        }
    }
}

.page-speciality .page-aside {
    margin-left: 30px;
    margin-right: 30px;
    grid-row-start: 1;
    grid-column: 1 / 4;
    margin-top: 110px;
    display: block;

    @include tablet {
        margin-left: 30px;
        margin-right: 0px;
        grid-column: 4 / 4;
        grid-row: 1 / 4;
        margin-top: 0px;
    }

    @include desktop {
        margin-left: 15px;
    }
}

.page-speciality .page-nav {
    border-left: none;

    @include tablet {
        border-left: 20px solid var(--color-theme);
    }
}

.page-speciality .page-nav__body {
    display: flex;
    flex-direction: column;

    @include tablet {
        padding: 44px 30px 42px 35px;
        display: block;
    }

    @include desktop {
        padding: 30px 90px 43px 60px;
    }
}

.page-speciality .page-nav__phone-inner {
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 49px;
        height: 100%;
        background-color: var(--color-theme);
        border-radius: 0px 0px 15px 0px;
    }

    padding: 0px 79px 15px 30px;
    border-radius: 0px 0px 15px 15px;
    background-color: var(--background-default);
    order: 4;

    @include tablet {
        max-height: fit-content;
        opacity: 1;
        padding: 0px;
        border-radius: 0px;
        background-color: transparent;
        box-shadow: none;

        &::after {
            display: none;
        }
    }

    .page-nav__phone {
        opacity: 0;
        max-height: 0px;

        @include tablet {
            opacity: 1;
            max-height: fit-content;
        }
    }
}

.page-speciality .page-nav__phone {
    display: flex;
    flex-direction: row;
    align-items: center;

    svg {
        width: 20px;
        height: 20px;
        color: var(--color-brand-3);
        margin-right: 18px;

        @include desktop {
            margin-right: 11px;
        }
    }

    span {
        font-size: 17px;
        font-weight: 500;
        line-height: 26px;
        padding: 0px;
        color: var(--color-brand-3);

        @include desktop {
            font-size: 20px;
            line-height: 44px;
        }
    }
}

.page-speciality .page-nav__phone-inner p {
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;

    @include tablet {
        margin-top: 24px;
    }

    @include desktop {
        font-size: 16px;
        line-height: 26px;
        margin-top: 11px;
    }
}

.page-speciality .page-nav__title {
    margin-top: 30px;
    display: flex;
    position: relative;
    z-index: 5;

    span {
        @include tablet {
            padding: 0px;
        }
    }

    @include tablet {
        display: none;
        margin-top: 28px;
    }

    @include desktop {
        display: flex;
    }
}

.page-speciality .page-nav__title-contact {
    margin-top: 28px;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 500;
    line-height: 26px;
    width: 100%;
    border-radius: 15px;
    padding: 0;
    background-color: var(--background-default);
    color: var(--color-theme);
    transition: all 0.5s ease;
    order: 3;
    margin-top: 14px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);

    .page-nav__phone {
        display: none;
    }

    span {
        padding-left: 28px;
    }

    .page-nav__title-icon svg {
        width: 22px;
        height: 12px;
        color: var(--background-default);
        transition: all 0.5s ease;
    }
}

.page-speciality .page-nav__title-contact.active {
    border-radius: 15px 15px 0px 0px;
    display: flex;

    .page-nav__phone {
        display: flex;
        padding-left: 28px;

        span {
            display: block;
            padding-left: 0px;
        }
    }

    span {
        display: none;
    }

    .page-nav__title-icon {
        border-bottom-right-radius: 0px;
        transition: all 0.5s ease;
    }

    .page-nav__title-icon svg {
        transform: rotate(180deg);
    }
}

.page-speciality .page-nav__title:first-child span {
    @include desktop {
        display: none;
    }
}

.page-speciality .page-nav__list {
    padding: 0px 79px 15px 30px;
    margin-top: 0px;
    gap: 11px;
    display: flex;

    @include tablet {
        display: none;
        margin-top: 11px;
        padding: 0px;
    }

    @include desktop {
        display: flex;
    }
}

.page-speciality .page-article__slider {
    margin-top: 50px;
    height: fit-content;
    grid-row-start: 3;

    @include tablet {
        grid-row-start: 2;
    }

    @include desktop {
        margin-top: 55px;
    }
}