.page-news.page-body {
  padding-bottom: 0px;
}

.page-news {
  grid-template-columns: 1fr;
  background: linear-gradient(180deg,
      rgba(113, 182, 205, 0) 10.9%,
      rgba(113, 182, 205, 0.1) 61.62%,
      rgba(113, 182, 205, 0.14) 100%);
  padding-bottom: 80px !important;

  @include tablet {
    grid-template-columns: 0px 1fr 100px 180px !important;
  }

  @include desktop {
    grid-template-columns: 1fr 40px 60px 60px minmax(auto, 940px) 60px 50px 190px 40px 1fr !important;
  }
}

.page-news .page-content {
  gap: 0px;
  display: flex;
  flex-direction: column;

  padding-left: 26px;
  padding-right: 12px;

  @include tablet {
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }

  @include desktop {
    grid-column: 5/8 !important;
    margin-top: 120px;
  }
}

.page-news .page-header {
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;

  h1 {
    margin-top: 24px;
  }

  @include tablet {
    padding: 150px 186px 90px 80px;
    flex-shrink: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 00px;

    h1 {
      margin-bottom: 24px;
      margin-top: 0px;
    }

    p {
      line-height: 26px;
    }
  }

  @include desktop {
    margin-bottom: 0px;
    padding: 65px 60px 287px 100px;
    border-bottom-left-radius: 50px;

    h1 {
      margin-bottom: 20px;
    }

    p {
      line-height: 25px;
    }
  }
}

.page-news .page-header p {
  color: var(--color-theme-black-inverse);
}

.page-news .page-header h1 {
  line-height: 32px;

  @include desktop {
    line-height: 44px;
  }
}

.page-news .page-article {
  margin-top: 42px;
  padding-left: 0px;
  padding-right: 0px;

  @include tablet {
    padding-right: 108px;
    margin-top: -51px;
    padding-left: 80px;
    max-width: 100%;
  }

  @include desktop {
    margin-top: -234px;
    padding-left: 100px;
    padding-right: 26px;
  }
}

.page-news .page-article .page-article__pagination {
  margin-right: auto;
  margin-left: auto;
  max-width: fit-content;

  @include tablet {
    margin-left: auto;
  }

  @include desktop {
    margin-left: auto;
  }
}

.page-news .page-aside {
  display: none;

  @include tablet {
    display: block;
  }

  @include desktop {
    grid-column: 6 / 9 !important;
  }
}

.page-article__news {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 48px;

  @include tablet {
    gap: 26px;
  }

  @include desktop {
    gap: 40px;
  }
}

.page-article__news .card-news:nth-child(4n + 2) .card-news__inner,
.page-article__news .card-news:nth-child(4n + 3) .card-news__inner {
  background-color: var(--color-brand-1);
}

.page-article__news .card-news:nth-child(4n + 2) .card-news__btn,
.page-article__news .card-news:nth-child(4n + 3) .card-news__btn {
  background-color: var(--color-brand-1-hover);
}

.page-article__news .card-news:nth-child(4n + 2) .card-news__btn svg,
.page-article__news .card-news:nth-child(4n + 3) .card-news__btn svg {
  color: var(--color-brand-1-hover);
}

.page-article__news .card-news:nth-child(4n + 1) .card-news__inner,
.page-article__news .card-news:nth-child(4n + 4) .card-news__inner {
  background-color: var(--color-brand-2);
}

.page-article__news .card-news:nth-child(4n + 1) .card-news__btn,
.page-article__news .card-news:nth-child(4n + 4) .card-news__btn {
  background-color: var(--color-brand-2-active);
}

.page-article__news .card-news:nth-child(4n + 1) .card-news__btn svg,
.page-article__news .card-news:nth-child(4n + 4) .card-news__btn svg {
  color: var(--color-brand-2-active);
}

.page-news .page-nav {
  background-color: transparent;
  border-left: 0px;
  box-shadow: none;
  margin-left: 12px;
  margin-right: 0px;
  font-size: 20px;
  top: 120px;

  @include desktop {
    margin-left: 0;
    margin-right: 0;
    top: 180px;
  }
}

.page-news .page-nav__title {
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 17px;

  @include tablet {
    text-align: left;
    padding-bottom: 14px;
  }

  @include desktop {
    text-align: center;
    padding-bottom: 17px;
  }
}

.page-news .page-nav__title span {
  padding: 0px;
}

.page-news .page-nav__list {
  background-color: transparent;
  padding-left: 20px;
  padding-right: 10px;
  height: 266px;
  justify-content: space-between;
  display: flex;
  gap: 0px;

  @include desktop {
    gap: 20px;
    height: 100%;
  }
}

.page-news .page-nav__item {
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 14px 27px 14px 26px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.089);
  transition: all 0.2s;

  @include desktop {
    padding: 17px 50px;
  }
}

.page-news .page-nav__item:hover {
  cursor: pointer;
  background-color: var(--color-brand-2);
  color: var(--color-white);
}

.page-news .page-nav__item:hover .page-nav__link>span {
  color: var(--color-white);
}

.page-news .page-nav__link>span {
  border-bottom: 0px;

  font-size: 14px;
  font-weight: 400;
  line-height: 26px;

  @include desktop {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
  }
}

.page-news .page-nav__link:hover {
  transform: translate(0);
}

.page-news .page-nav__link:hover>span,
.page-news .page-nav__link:focus>span {
  border-bottom: 0px;
}

.page-news .page-nav__body,
.page-news .page-nav__list {
  padding: 0;
}