.page__news.page-body {
  padding-bottom: 0px;
}

.page__news {
  grid-template-columns: 1fr;
  background: linear-gradient(
    180deg,
    rgba(113, 182, 205, 0) 10.9%,
    rgba(113, 182, 205, 0.1) 61.62%,
    rgba(113, 182, 205, 0.14) 100%
  );

  @include tablet {
    //grid-template-columns: $container-padding-tablet auto auto $container-padding-tablet !important;
    grid-template-columns: 0px 1fr 99px 180px !important;
  }

  @include desktop {
    grid-template-columns: 1fr 860px 80px minmax(320px, 1fr) !important;
  }
}

.page__news .page-content {
  gap: 0px;
  display: flex;
  flex-direction: column;
  margin-bottom: 81px;

  padding-left: 26px;
  padding-right: 12px;

  @include tablet {
    margin-top: 0px;
    margin-bottom: 87px;
    padding-left: 0px;
    padding-right: 0px;
  }

  @include desktop {
    margin-top: 120px;
    margin-bottom: 83px;
  }
}

.page__news .page-header {
  margin-bottom: 0px;
  padding: 0px;
  width: 100%;

  h1{
      margin-top: 24px;
    }

  @include tablet {
    padding: 150px 186px 90px 80px;
    flex-shrink: 0;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 00px;

    h1{
      margin-bottom: 24px;
      margin-top: 0px;
    }

    p {
      line-height: 26px;
    }
  }

  @include desktop {
    margin-bottom: 0px;
    padding: 65px 60px 287px 160px;
    width: fit-content;
    border-bottom-left-radius: 50px;

    h1{
      margin-bottom: 20px;
    }

    p {
      line-height: 25px;
    }
  }
}

.page__news .page-header p {
  color: var(--color-theme-black-inverse);
}

.page__news .page-header h1 {
  line-height: 32px;

  @include desktop {
    line-height: 44px;
  }
}

.page__news .page-article {
  margin-top: 42px;
  padding-left: 0px;
  padding-right: 0px;

  @include tablet {
    padding-right: 108px;
    margin-top: -51px;
    padding-left: 80px;
    max-width: 100%;
  }

  @include desktop {
    margin-top: -220px;
    padding-left: 130px;
    padding-right: 26px;
  }
}

.page__news .page-article .page-article__pagination {
  margin-right: auto;
  margin-left: auto;
  max-width: fit-content;

  @include tablet {
    margin-right: 0px;
    margin-left: auto;
  }

  @include desktop {
    margin-left: auto;
  }
}

.page__news .page-aside {
  display: none;

  @include tablet {
    display: block;
  }
}

.page-article__news {
  width: 100%;
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 48px;

  @include tablet {
    gap: 26px;
  }

  @include desktop {
    gap: 40px;
  }
}

.page-article__news .card-news:nth-child(4n + 2) .card-news__inner,
.page-article__news .card-news:nth-child(4n + 3) .card-news__inner {
  background-color: var(--color-brand-1);
}

.page-article__news .card-news:nth-child(4n + 2) .card-news__btn,
.page-article__news .card-news:nth-child(4n + 3) .card-news__btn {
  background-color: var(--color-brand-1-hover);
}

.page-article__news .card-news:nth-child(4n + 2) .card-news__btn svg,
.page-article__news .card-news:nth-child(4n + 3) .card-news__btn svg {
  color: var(--color-brand-1-hover);
}

.page-article__news .card-news:nth-child(4n + 1) .card-news__inner,
.page-article__news .card-news:nth-child(4n + 4) .card-news__inner {
  background-color: var(--color-brand-2);
}

.page-article__news .card-news:nth-child(4n + 1) .card-news__btn,
.page-article__news .card-news:nth-child(4n + 4) .card-news__btn {
  background-color: var(--color-brand-2-active);
}

.page-article__news .card-news:nth-child(4n + 1) .card-news__btn svg,
.page-article__news .card-news:nth-child(4n + 4) .card-news__btn svg {
  color: var(--color-brand-2-active);
}

.page__news .page-nav {
  background-color: transparent;
  border-left: 0px;
  box-shadow: none;
  margin-left: 12px;
  margin-right: 0px;
  font-size: 20px;
  top: 120px;

  @include desktop {
    margin-left: 40px;
    margin-right: 10px;
    top: 180px;
  }
}

.page__news .page-nav__title {
  background-color: transparent;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 17px;

  @include tablet {
    text-align: left;
    padding-bottom: 14px;
  }

  @include desktop {
    text-align: center;
    padding-bottom: 17px;
  }
}

.page__news .page-nav__title span {
  padding: 0px;
}

.page__news .page-nav__list {
  background-color: transparent;
  padding-left: 20px;
  padding-right: 10px;
  height: 266px;
  justify-content: space-between;
  display: flex;
  gap: 0px;

  @include desktop {
    padding-right: 20px;
    height: 330px;
  }
}

.page__news .page-nav__item {
  background-color: var(--color-white);
  border-radius: 15px;
  padding: 14px 27px 14px 26px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.089);

  @include desktop {
    padding: 17px 50px;
  }
}

.page__news .page-nav__item:hover {
  cursor: pointer;
  background-color: var(--color-brand-2);
  color: var(--color-white);
}

.page__news .page-nav__item:hover .page-nav__link > span {
  color: var(--color-white);
}

.page__news .page-nav__link > span {
  border-bottom: 0px;

  font-size: 14px;
  font-weight: 400px;
  line-height: 26px;

  @include desktop{
    font-size: 20px;
  font-weight: 400px;
  line-height: 23px;
  }
}

.page__news .page-nav__link:hover > span,
.page__news .page-nav__link:focus > span {
  border-bottom: 0px;
}
