.page-rights {
  @include tablet {
    padding-top: 140px !important;
  }

  @include desktop {
    padding-top: 200px !important;
  }
}

.page-rights h3 {
  margin-top: 10px;
  margin-bottom: 0 !important;
  padding: 12px 0 4px !important;

  @include tablet {
    font-size: 15px !important;
  }

  @include desktop {
    font-size: 20px !important;
    padding: 8px 0 0px !important;
  }
}

.page-rights ul {
  margin-top: 0;
  margin-bottom: 0;
}

.page-rights.page-body--article:has(.page-aside) {
  @include desktop {
    grid-template-columns: 160px 760px 120px 340px 60px;
  }
}

.page-rights .page-aside {
  grid-column: 1 / 4;

  @include tablet {
    grid-column: 4 / 5 !important;
  }
}

.page-rights .page-content {
  grid-column: 1 / 4;

  @include tablet {
    grid-column: 2 / 3 !important;
  }
}

.page-rights.page-body--article:has(.page-aside) .page-article {
  @include desktop {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-rights.page-body--article:has(.page-aside) .page-content {
  grid-column: 2 / 3;
}