footer.footer
  .container
    .footer__body
      .footer__icon
        img(src="images/asterisk.svg", alt="icon asterisk." width="103" height="111")
      .footer__logo
       a(href="/").footer__logo
          img(src="images/logo.svg", alt="logo Sionsberg" width="179" height="40")
          img(src="images/logo-contrast.svg", alt="logo Sionsberg" width="179" height="40")
      .footer__address
        h3.footer__title.footer__title--primary Bezoekadres
        address Birdaarderstraatweg 70
          br
          | 9101 DC Dokkum
      .footer__contacts
        h3.footer__title.footer__title--primary Contact
        button.button.button--brand-1 Onze poliklinieken
      .footer__schedule
        h3.footer__title.footer__title--secondary Openingstijden
        p Van maandag t/m vrijdag van 08.00 - 16.30 uur
      .footer__vacancies
        h3.footer__title.footer__title--secondary Werken bij
        button.button.button--brand-2 Bekijk onze vacatures
      .footer__social-wrap
        h3.footer__title.footer__title--secondary Volg ons op
        .footer__social
          a(href="#", aria-label="LinkedIn")
            +svg('linkedin')
          a(href="#", aria-label="Facebook")
            +svg('facebook')
      .footer__nav-wrap
        .footer__nav
          a(href="#") Zorgaanbod
          a(href="#") Patiënten
          a(href="#") Verwijzers
          a(href="#") Over ons
          a(href="#") Contact
      .footer__icons
        img(src="images/logo-icons.svg", alt="Logo icons")
      .footer__legal
        a(href="#") Cookieverklaring
        a(href="#") Privacy statement
        a(href="#") Registratie oncologische gegevens
