mixin card-news(img, title, subtitle)
    a(href="#").card-news&attributes(attributes)
        img(src=img, alt=title)
        .card-news__inner
            p.card-news__title= title
            if subtitle
                p.card-news__subtitle= subtitle
            else
            .card-news__btn
                span Verder lezen
                +svg('arrow-right-square')
