mixin card-news(img, title, subtitle)
    .card-news
        img(src=img, alt=title)
        .card-news__inner
            p.card-news__title= title
            p.card-news__subtitle= subtitle
            .card-news__btn
                +svg('arrow-right-square')
