mixin menu()
  .menu
    .menu__nav
      img(src="images/logo-kiem.svg", alt="logo KIEM." width="80" height="23").menu__logo
      ul.menu__list
        li.menu__item
          a.menu__link.active(href='home.html') Home
        li.menu__item
          a.menu__link(href='about.html') Wie zijn wij?
        li.menu__item
          a.menu__link(href='growth.html') Ons aanbod voor groei
        li.menu__item
          a.menu__link(href='interim.html') Interim en coaching
        li.menu__item
          a.button.menu__link.no-underline(href='contact.html') Contact
      img.menu__logo-bottom(src="images/logo-kiem-k-sm.svg" alt="logo KIEM." width="110" height="109")