//- mixin page-phone(title)
//-     section.page-phone
//-         .container.container-md
//-             .page-phone__item
//-                 img(src="images/content/phone.svg" alt="alt" width="70" height="70")
//-                 +svg("wave-long-left").visible-desktop.hidden
//-             .page-phone__title
//-                 h2 
//-                 | Zet jouw 
//-                 span groei
//-                 |  in gang,
//-                 | met de kracht van 
//-                 span KIEM.
//-                 a.section-team__phone(href="tel:#")
//-                 | Bel &nbsp;
//-                 span 020-001 0012
//-                 | &nbsp; of stuur ons een &nbsp;
//-                 span bericht
//-                 +svg("arrow-right-bold")
//-             .page-phone__item
//-                 +svg("wave-long-right").visible-desktop.hidden
//-                 img(src="images/content/email.svg" alt="alt" width="70" height="70")