extends pug/base

prepend vars
  - title = 'Specialisme'

append vars
  - html.classList.push('brand-3-theme')

block content
  .page-speciality.page-body.page-body--inverse
    aside.page-aside
      .page-nav
        .page-nav__body
          button.page-nav__title-contact(data-collapse-target="page-nav-phone").hidden-tablet
            span Contact Polikliniek
            .page-nav__phone
              +svg('phone')
              span 088 07 08 866
            .page-nav__title-icon
              +svg('chevron-down')
          .page-nav__phone-inner(data-collapse-content="page-nav-phone")
            .page-nav__phone
              +svg('phone')
              span 088 07 08 866
            p Polikliniek Longgeneeskunde telefonisch bereikbaar: van maandag tot en met vrijdag van 08.00 tot 16.30 uur
          button.page-nav__title(data-collapse-target="page-nav")
            span Op deze pagina
            .page-nav__title-icon
              +svg('chevron-down')
          ul.page-nav__list(data-collapse-content="page-nav")
            li.page-nav__item 
              a(href="#watdoenwij").page-nav__link
                +svg('chevron-right')
                span Wat doen wij?
            li.page-nav__item 
              a(href="#samenwerking").page-nav__link
                +svg('chevron-right')
                span Samenwerking in de regio
            li.page-nav__item 
              a(href="#medisch").page-nav__link
                +svg('chevron-right')
                span De medisch specialisten
            li.page-nav__item 
              a(href="#vergoeding").page-nav__link
                +svg('chevron-right')
                span Vergoeding en verzekering
            li.page-nav__item 
              a(href="#patientfolders").page-nav__link
                +svg('chevron-right')
                span Patiëntenfolders
            li.page-nav__item 
              a(href="#snelnaar").page-nav__link
                +svg('chevron-right')
                span Snel naar
    .page-content
      .page-header.background-theme.visible-tablet
        img(src="images/sprites/png/speciality.png" alt="speciality")

      .page-article.specialists
        article.article
          .speciality__title
            +svg('lungs')
            h1 Longgeneeskunde
      
          p Bij de polikliniek Longgeneeskunde van Sionsberg Netwerk Ziekenhuis kunt u terecht voor onderzoeken en behandelingen rondom uw longen en luchtwegen. U wordt bij ons geholpen in een kleinschalige, toegankelijke omgeving, met persoonlijke aandacht en korte wachttijden.

          img(src="images/sprites/png/speciality.png" alt="speciality").hidden-tablet

          #watdoenwij
            h3 Wat doen wij?
            p Onze longartsen onderzoeken en behandelen uiteenlopende longproblemen. U kunt bij ons terecht voor consulten en onderzoeken zoals:
            ul
              li Longfunctieonderzoek
              li Onderzoek van de longbloedvaten
              li Laboratoriumonderzoek
            p Mocht er een operatie nodig zijn, dan vindt deze plaats in één van de omliggende ziekenhuizen. Het voor- en natraject verzorgen wij gewoon hier, dichtbij huis. Uw eigen longarts begeleidt u gedurende het hele traject.
          
          #samenwerking
            h3 Samenwerking in de regio
            p Wij werken nauw samen met de maatschap longartsen in Noord-Nederland. Deze samenwerking bestaat al meer dan 25 jaar en zorgt ervoor dat u profiteert van de kennis en ervaring van een breed netwerk van specialisten. U bent dus altijd verzekerd van optimale zorg, ook als een deel van uw behandeling elders plaatsvindt.

      #medisch.page-article__slider
        .page-slider__inner
          .swiper.slider-specialists
            .swiper-title
              h3 De medisch specialisten
              .swiper-navigation
                button.swiper-button-prev
                  +svg('chevron-left')
                button.swiper-button-next
                  +svg('chevron-right')
            .swiper-wrapper
              .swiper-slide
                a(href="/").card-person
                  .card-person__text
                    h3 J.M. van Duijnen
                    p Longarts
                  img(src="images/card-image-1.png" alt="")
              .swiper-slide
                a(href="#").card-person
                  .card-person__text
                    h3 A.D.F Groenenwegen
                    p Longarts
                  img(src="images/card-image-2.png" alt="")
              .swiper-slide
                a(href="#").card-person
                  .card-person__text
                    h3 J.J. Kombaria
                    p Longarts
                  img(src="images/card-image-3.png" alt="")
              .swiper-slide
                a(href="#").card-person
                  .card-person__text
                    h3 Slide 2
                    p Longarts
                  img(src="images/card-image-1.png" alt="")
              .swiper-slide
                a(href="#").card-person
                  .card-person__text
                    h3 Slide 3
                    p Longarts
                  img(src="images/card-image-1.png" alt="")
              .swiper-slide
                a(href="#").card-person
                  .card-person__text
                    h3 Slide 3
                    p Longarts
                  img(src="images/card-image-1.png" alt="")
              .swiper-slide
                a(href="#").card-person
                  .card-person__text
                    h3 Slide 3
                    p Longarts
                  img(src="images/card-image-1.png" alt="")

      .page-content-bottom
        .page-article.specialists
          article.article
            #vergoeding
              h3 Vergoeding en verzekering
              p De zorg van de polikliniek Longgeneeskunde valt onder de basisverzekering. Met een verwijzing van uw (huis)arts worden de kosten vergoed door uw zorgverzekeraar. Houd wel rekening met uw eigen risico.
      
            #patientfolders
              h3 Patiëntenfolders
              p Meer informatie nodig over een onderzoek of behandeling? Download hieronder onze folders met duidelijke uitleg en praktische tips.
              .article-files
                a(href="#").file-link
                  +svg('download')
                  span 
                    span Download brochure
                    b Longfunctieonderzoek
                a(href="#").file-link
                  +svg('download')
                  span 
                    span Download brochure
                    b Behandeling van COPD
                a(href="#").file-link
                  +svg('download')
                  span 
                    span Download brochure
                    b Inhalatiemedicatie
                a(href="#").file-link
                  +svg('download')
                  span 
                    span Download brochure
                    b Roken en uw longen

            #snelnaar
              h3 Snel naar
              p Hieronder vindt u directe links naar veelgebruikte informatie. Zo heeft u snel antwoord op uw vragen of vindt u meteen de juiste route.
              .article-links
                a(href="#").article-link
                  span Afspraak maken of wijzigen
                  +svg('chevron-right')
                a(href="#").article-link
                  span Openingstijden en contact
                  +svg('chevron-right')
                a(href="#").article-link
                  span Route en parkeren
                  +svg('chevron-right')
                a(href="#").article-link
                  span Veelgestelde vragen
                  +svg('chevron-right')
