extends pug/base

prepend vars
  - title = 'Specialisme'

append vars
  - html.classList.push('brand-3-theme')

block content
  .page__speciality.page-body.page-body--inverse
    aside.page-aside
      .page-nav
        .page-nav__body
          .page-nav__phone
            +svg('phone')
            span 088 07 08 866
          p Polikliniek Longgeneeskunde telefonisch bereikbaar: van maandag tot en met vrijdag van 08.00 tot 16.30 uur
          button.page-nav__title
            span Op deze pagina
            .page-nav__title-icon
              +svg('chevron-down')
          ul.page-nav__list(data-collapse-content="page-nav")
            li.page-nav__item 
              a(href="#specialismen").page-nav__link
                +svg('chevron-right')
                span Wat doen wij?
            li.page-nav__item 
              a(href="#aanvraagformulier").page-nav__link
                +svg('chevron-right')
                span Samenwerking in de regio
            li.page-nav__item 
              a(href="#downloads").page-nav__link
                +svg('chevron-right')
                span De medisch specialisten
            li.page-nav__item 
              a(href="#vergoeding").page-nav__link
                +svg('chevron-right')
                span Vergoeding en verzekering
            li.page-nav__item 
              a(href="#patiëntenfolders").page-nav__link
                +svg('chevron-right')
                span Patiëntenfolders
            li.page-nav__item 
              a(href="#snelnaar").page-nav__link
                +svg('chevron-right')
                span Snel naar
    .page-content
      .page-header.background-theme
        img.page-header__image(src="images/zorgaanbod.jpg" alt="zorgaanbod." width="720" height="320")

      //- .page-article.specialists
      //-   article.article
      //-     h3 De medisch specialisten

      .page-article__slider
        .swiper.slider-specialists
          .swiper-title
            h3 De medisch specialisten
            .swiper-navigation
              button.swiper-button-prev
                +svg('chevron-left')
              button.swiper-button-next
                +svg('chevron-right')
          .swiper-wrapper
            .swiper-slide
              a(href="/").card-person
                .card-person__text
                  h3 J.M. van Duijnen
                  p Longarts
                img(src="images/card-image-1.png" alt="")
            .swiper-slide
              a(href="#").card-person
                .card-person__text
                  h3 A.D.F Groenenwegen
                  p Longarts
                img(src="images/card-image-2.png" alt="")
            .swiper-slide
              a(href="#").card-person
                .card-person__text
                  h3 J.J. Kombaria
                  p Longarts
                img(src="images/card-image-3.png" alt="")
            .swiper-slide
              a(href="#").card-person
                .card-person__text
                  h3 Slide 2
                  p Longarts
                img(src="images/card-image-1.png" alt="")
            .swiper-slide
              a(href="#").card-person
                .card-person__text
                  h3 Slide 3
                  p Longarts
                img(src="images/card-image-1.png" alt="")
