:root {
  --color-black: #000;
  --color-theme-black: #333;
  --color-theme-inverse: #333;
  --color-white: #fff;
  --color-white-80: rgba(255, 255, 255, 0.8);
  --color-gray: #F5F5F5;
  --color-gray-dark: #B1B3B4;
  --color-gray-light: #ECECEC;
  --color-gray-light-inverse: #ECECEC;
  --color-muted: #DEE5E1;
  --color-muted-active: #C9453E;

  --color-brand-1: #97BF0D;
  --color-brand-1-hover: #7A9A0D;
  --color-brand-1-active: #00931C;
  --color-brand-2: #71B6CD;
  --color-brand-2-rgb: rgba(113, 182, 205, 0.1);
  --color-brand-2-active: #4289A1;
  --color-brand-3: #F7A212;
  --color-brand-3-active: #C17C07;
  --color-brand-4: #F7736C;
  --color-brand-4-rgb: 247, 115, 108;
  --color-brand-4-active: #C9453E;
  --color-text-default: #2d2d2d;
  --color-text-secondary: #16535e;

  --color-text: var(--color-theme-black);
  --color-text-black: var(--color-black);
  --background-default: var(--color-white);
  --color-theme: var(--color-theme-black);
  --color-theme-light: var(--color-theme-black);
  --color-theme-active: vvar(--color-theme-black);
  --color-theme-black-inverse: var(--color-theme-black);

  --box-shadow-default: rgba(0, 0, 0, 0.04);

  --font-primary: ubuntu, -apple-system, BlinkMacSystemFont, "Segoe UI", roboto, oxygen-sans, cantarell, "Helvetica Neue", sans-serif;

  --card-title-height: 95px;
  --card-title-height-hover: 180px;
}

html {
  min-height: 100vh;
  height: 100%;
  min-width: 320px;
  font-family: $font-primary;
  color: var(--color-text);
  scroll-behavior: smooth;

  @include laptop {
    font-size: $font-size-desktop;
    scroll-padding-top: 108px;
  }

  @include desktop {
    scroll-padding-top: 140px;
  }

  &.brand-1-theme {
    --color-theme: var(--color-brand-1);
    --color-theme-light: rgba(151, 191, 13, 0.1);
    --color-theme-active: var(--color-brand-1-active);
  }

  &.brand-2-theme {
    --color-theme: var(--color-brand-2);
    --color-theme-light: var(--color-brand-2-rgb);
    --color-theme-active: var(--color-brand-2-active);
  }

  &.brand-3-theme {
    --color-theme: var(--color-brand-3);
    --color-theme-light: rgba(247, 162, 18, 0.1);
    --color-theme-active: var(--color-brand-3-active);
  }

  &.brand-4-theme {
    --color-theme: var(--color-brand-4);
    --color-theme-light: rgba(247, 115, 108, 0.1);
    --color-theme-active: var(--color-brand-4-active);
  }

  &.contrast-theme {
    // --color-text: var(--color-white);
    // --color-text-black: var(--color-white);
    // --color-gray: var(--color-theme-black);
    // --color-gray-light-inverse: var(--color-theme-black);
    // --background-default: var(--color-theme-black);
    --color-theme: var(--color-theme-black);
    --color-brand-1: var(--color-theme-black);
    --color-brand-2: var(--color-theme-black);
    --color-brand-3: var(--color-theme-black);
    --color-brand-4: var(--color-theme-black);
    // --color-theme-light: var(--color-theme-black);
    // --color-theme-active: var(--color-black);
    // --color-theme-black-inverse: var(--color-white);
    // --color-white-80: var(--color-theme-black);
    // --box-shadow-default: rgba(255, 255, 255, 0.04);
  }
}

body {
  height: 100%;
  background-color: var(--background-default);

  &.menu-active {
    overflow: hidden;
  }
}

// @media (prefers-color-scheme: dark) {
//   body:not(.light-theme) {
//     --color-text: var(--color-white);
//     --background-default: var(--color-theme-black);
//   }
// }

a,
button {
  transition: $transition-duration;
}

button {
  cursor: pointer;
}

a {
  // stylelint-disable-next-line
  color: currentColor;
}

svg {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  height: 100%;
  // stylelint-disable-next-line
  fill: currentColor;
}

img {
  vertical-align: top;
  height: auto;
  max-width: 100%;
  user-select: none;
}

img[draggable="false"] {
  pointer-events: none;
  // stylelint-disable-next-line
  -webkit-user-drag: none;
}

figure,
picture {
  display: inline-block;
  margin: 0;
  line-height: 0;

  img {
    width: 100%;
  }
}

ol,
ul {
  margin: 0;
  padding: 0;
}

video {
  outline: none;
  width: 100%;
  height: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

body {
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}